@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat:wght@200&family=Rajdhani&display=swap');

.App {
  text-align: center;
}

body {
  margin: 0 auto;
  height: 100vh;
  background: lightblue;
  font-family: 'Rajdhani', sans-serif;
}



.cat-container {

  border: 2px solid black;
  margin: 5vh;
  text-align: center;
}


.page-title {
  font-size: 6vh;
  position: absolute;
  top: 10;
  left: 0;
  padding-top: 6vh;

}

.nav-container {
  display: flex;
  justify-content: flex-start;
}

.aside {
  padding-top: 3vh;
  font-size: 2vh;
}

.nav-options a {
  text-decoration: none;
  padding: 10px;
  color: rgb(140, 138, 138);


}

.dash-container,
.device-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 5vh;

}

.dash-title {
  font-size: 2.5vh;

}

.dash-section,
.device-section {

  width: 600px;
  height: 300px;
  text-align: center;
  border: 2px solid black;
  margin-bottom: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section-header {
  font-size: 2vh;
}

.trigger-entry,
.dash-trigger {
  display: flex;
}

.dash-cats {
  border: 2px solid black;
  font-size: 2vh;
  margin-top: 2vh;
  padding: 2vh;
}

.stats {
  font-size: 3vh;
}

.trigger-container {
  display: flex;
  margin-top: 4vh;
  justify-content: center;
  align-items: center;

}

.pets-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  width: 25vh;
  height: 15vh;
  opacity: 0.6;
  padding-left: -10px
}

.trigger-entry {
  display: flex;
  align-items: center;
  margin: 0 1vh 1vh 1vh;
  font-size: 1.5vh;
  padding: 1vh;

}

.del-button {
  border: none;
  background: none;
  padding: 0 0 12px 0;
}


form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3vh;
}

input {
  margin-bottom: 2vh;

}