@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat:wght@200&family=Rajdhani&display=swap');

.App {
  text-align: center;
}

body {
  margin: 0 auto;
  height: 100vh;
  background: lightblue;
  font-family: 'Rajdhani', sans-serif;
}

.cat-container {
  border: 2px solid black;
  margin: 5vh;
}

.page-title {
  font-size: 9vh;
}

.nav-container {
  display: flex;
  justify-content: flex-end;
}

.nav-options a {
  text-decoration: none;
  padding: 10px;
}

.dash-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 5vh;

}

.dash-section {

  width: 350px;
  height: 150px;
  text-align: center;
  border: 2px solid black;
  margin-bottom: 2vh;
}